$base-spacing-unit: 24px !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;

/*

	<div class="fader">
		<article class="fader__panel is-active">
			<img src="#" alt="">
		</article>
		<article class="fader__panel">
			<img src="#" alt="">
		</article>
		<div class="fader-controls">
			<div class="wrap">
				<a href="#" class="fader__arrows fader__arrows--left" data-dir="prev"><i class="i i-arrow-left"></i></a>
				<div class="fader-bullets fader__pagination">
          <a href="#" class="fader__pagination__btn is-active"></a>
          <a href="#" class="fader__pagination__btn"></a>
        </div>
				<a href="#" class="fader__arrows fader__arrows--right" data-dir="next"><i class="i i-arrow-right"></i></a>
			</div>
		</div>
	</div>

 */

/*
 *
 * Fader Core Setup
 * 
 */
.fader {
	position: relative;
	margin-bottom: $base-spacing-unit;
}

.fader__panel {
	
	display: block;
	position: absolute;
	top: 		0;
	left: 	0;
	right: 	0;
	bottom: 0;
	opacity: 0;
	@include transition( opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) );

	&.is-active {
		position: relative;
		z-index: 10;
		left: 0;
		top: 0;
		opacity: 1;
	}

}